body {
  background-color: hsl(185, 75%, 39%);
  font-family: "Kumbh Sans", sans-serif;
}

hr {
  border: none;
  height: 1px;
  background-color: #dce0dd;
}

.outerDiv {
  height: 100vh;
  overflow: hidden;
}

.bg-pattern1 {
  position: relative;
  top: -30rem;
  left: -15rem;
  transform: rotate(90deg);
  position: relative;
}

.bg-pattern2 {
  overflow: hidden;
  position: relative;
  top: -40rem;
  left: 50rem;
}

.card {
  z-index: 1;
  position: absolute;
  top: 28%;
  left: 40%;
  width: 22rem;
}

.card-top {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
}

.card-picture {
  z-index: 2;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 40%;
}

.bio {
  background-color: white;
  height: 10rem;
  width: auto;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-top: 5rem;
  text-align: center;
}

.numbers {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
}

#bioName {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 1rem;
}

#age {
  color: hsl(227, 10%, 46%);
}

#city {
  display: inline-block;
  color: hsl(227, 10%, 46%);
  margin-bottom: 1rem;
}

.numberSpan {
  display: inline-block;
  font-size: 110%;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
}

.socialKeyword {
  color: hsl(227, 10%, 46%);
  font-size: 13px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
